body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: hwb(0 1% 99%);
    background-color: tomato;
    text-align: center;
    margin: -10px -10px 10px -10px;
}

h2 {
    color: rgb(253, 146, 24);
}

h3 {
    color: midnightblue;
}

#tutorial {
    text-align: center;
}
#menu {
    display: table;
    margin: auto;
}

.recipe {
   display: inline;
   margin: 0 50px;
   
}

#weird-button{
    margin: 10px auto;
}
.button {
    display: block;
    background-color: rgb(26, 192, 26); color: rgb(1, 32, 46); font-size: 40px;
    margin: 0 auto;
}

.button:hover {
    background-color: cornflowerblue;
}

.button:active {
    background-color: rgb(169, 80, 252); font-weight: bolder;
}